/* colorization for key words*/
#red {
    color: red;
}

#orange {
    color: orange;
}

#yellow {
    color: rgb(171, 173, 28);
}

#green {
    color: #89CC3A;
}

#blue {
    color: blue;
}

#purple {
    color: purple;
}

/* ----------------MAIN GENERAL STYLING------------ */
body {
    background-image: url('https://res.cloudinary.com/delacue/image/upload/v1571936063/Grafitti-wall-paint_oya5vz.jpg');
    background-size: 100%;
    /* background-repeat: no-repeat; */
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
    color: black;
    font-weight: 800;
    font-size: 180%;
    font-family: 'dancing script';
}

h2 {
    /* font-family: 'Finger Paint', cursive; */
    /* font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
    font-family: 'Special Elite', cursive;
}

a:hover {
    color: #fec503;
}

/* ----------------------NAV BAR ----------------------*/

#mainNav {
    background-color: #212529;
    padding: 0%;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #212529;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
    color: white;

    font-family: 'Finger Paint', cursive;
    background-color: #212529;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #fec503;
    background-color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: end;
    color: white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
}

li#search-li {
    margin-top: 8px;
}

.form-inline {
    margin-bottom: 2%;
}

@media (min-width: 992px) {
    #mainNav {
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: #212529;
    }

    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }

    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #212529;
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;

    }
}

.buddy-av-img {
    height: 63px;
    width: 63px;
}

.circleMe {
    line-height: 0;
    display: inline-block;
    margin: 8px;
    border: 4px solid rgba(200, 200, 200, 0.4);
    border-radius: 55%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    transition: linear 0.25s;
    line-height: 0;
    display: inline-block;
    border: 3px solid rgba(200, 200, 200, 0.4);
    border-radius: 51%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    transition: linear 0.25s;
    height: 53px;
    width: 4px;
    padding-right: 46px;
}


.circleMe img {
    border-radius: 50%;
    /* relative value for adjustable image size */
}

.circleMe:hover {
    transition: ease-out 0.2s;
    border: 4px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: ease-out 0.2s;
}

a.circleMe {
    color: transparent;
    display: inline;
    float: left;
    margin-right: -10px;
}

/* --------------------- HEADER ------------------------*/

header {
    background-image: url(../images/rowofpaintSmaller.jpeg);
    background-repeat: no-repeat;
    margin-top: 0%;
    padding-top: 3%;
    border: solid;
    width: 100%;
}

header.masthead {
    text-align: center;
    color: #212529;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 210px;
    margin-top: 0%;
}

/* --------Header Buckets Text alignment------ */
#rom-txt {
    margin-left: 0px;
    margin-right: 8px;
    /* font-size: 175%; */
    padding-left: 0px;
    padding-right: 0px;
}

#ent-txt {
    margin-left: -20px;
    margin-right: 33px;
    padding-left: 0px;
    padding-right: 0px;
    /* font-size: 175%; */
}

#edu-txt {
    margin-left: -34px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* font-size: 175%; */
}

#adv-txt {
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* font-size: 175%; */
}

#tra-txt {
    margin-left: 6px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* font-size: 175%; */
}

#uni-txt {
    margin-left: 62px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* font-size: 175%; */
}

#all-txt {
    margin-left: -11px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* font-size: 35px; */
}

.cat-text {
    margin-top: 94px;
    font-weight: 900;
    padding: 13px;
    font-size: 35px;
}

.col-md-2 {
    padding: 0px;
}

.cat-text:hover {
    /* cursor: pointer; */
    cursor: url('../images/paint-bucket-png-13-transparent-smaller85px.png'), auto;
}

/* -----------Kick Chart------- */
#piechart {
    padding-top: 1%;
    background-image: url('https://res.cloudinary.com/delacue/image/upload/v1571960120/white-brick-wall-console_bajs09.jpg');
    background-size: cover;
}

#myChart {
    background-color: transparent;
}

::-moz-selection {
    background: #fed136;
    text-shadow: none;
}

::selection {
    background: #fed136;
    text-shadow: none;
}

/* ---------Buttons--------- */
.btn {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
}

.btn-xl {
    font-size: 18px;

}

.btn-primary {
    background-color: #fed136;
    border-color: #fed136;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: white;
}

.btn-primary:active,
.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.list-group-item {
    background-color: none;
}

/* ----------user left Bucket list and profile items ---------*/
#bucklist-header {
    margin-top: 10%;
    text-align: justify;
    text-align: center;
    padding-top: 6px;
    margin-bottom: -10%;
    font-size: 40px;
    border: solid;
    border-color: black;
    background-image: url('https://res.cloudinary.com/delacue/image/upload/v1571960120/white-brick-wall-console_bajs09.jpg');
    background-size: 100%;

}

#left-bucket {
    /* max-width: 100%; */
    max-width: 550px;
    position: absolute;
    height: auto;
    margin-left: -58%;
    /* margin-top: -5%; */
}

#user-profile-list {
    position: absolute;
    opacity: 0.9;
    margin-left: 91px;
    margin-top: 32%;
    padding: 0%;
    overflow: scroll;
    width: 280px;
    height: 280px;
    padding-left: 10px;
    border: solid;
    border-width: 10px;
    padding-left: 13px;
    padding-right: 10px;
    text-align: left;
}

#bltxtid {
    /* font-family: 'Oswald', sans-serif; */
    font-weight: 300;
    font-family: 'dancing script';
    font-size: 144%;
    opacity: 1.0;
}

.fa-trash-alt:hover {
    cursor: pointer;
}

.fa-user-check:hover {
    cursor: copy;
}

.fa-plus: :hover {
    cursor: copy;
}

/* ---------------User Console------------- */
#console-header {
    padding-top: 7px;
    font-size: 40px;
}

#user-console {
    background-image: url('https://res.cloudinary.com/delacue/image/upload/v1571960120/white-brick-wall-console_bajs09.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: solid;
    margin-top: 55px;
    /* background-color: white; */
    overflow: auto;
    height: 550px;
    /* height: 500px; */
    width: auto;
}

/*---------------- Buddies icon Row and Avatar setings --------------*/
/* #buddy-row-paint {
    height: 270px;
    overflow-y: auto;
    position: relative;
    margin-left: 0px;
    margin-top: 4%;
} */
#buddy-row-paint {
    max-width: 100%;
    height: auto;
    margin-top: 7%;
}


.circle {
    line-height: 0;
    display: inline-block;
    margin: 8px;
    border: 4px solid rgba(200, 200, 200, 0.4);
    border-radius: 55%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    transition: linear 0.25s;
    line-height: 0;
    /* remove line-height */
    display: inline-block;
    /* circle wraps image */
    border: 4px solid rgba(200, 200, 200, 0.4);
    border-radius: 55%;
    /* relative value */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    transition: linear 0.25s;
    height: 71px;
    width: 50px;
    padding-right: 63px;
}

.circle img {
    border-radius: 50%;
    /* relative value for
	adjustable image size */
}

.circle:hover {
    transition: ease-out 0.2s;
    border: 4px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: ease-out 0.2s;
}

a.circle {
    color: transparent;
    display: inline;
    float: left;
    margin-right: 17px;
}

#avatar-icon-row {
    /* display: inline; */
    float: left;
    margin-top: -15%;
    margin-right: 51px;
    margin-left: 56px;
    width: 100%;
}

#cir0 {
    margin-right: 8%;
    margin-left: 3px;
}

#cir1 {
    margin-left: 2%;
}

#cir2 {
    margin-right: 94px;
    margin-left: 91px;
}

#cir3 {
    margin-left: 11px;
}

#cir4 {
    margin-left: 87px;
}

#cir5 {
    margin-left: 84px;
}

.col {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

/* rainbow effect */

@keyframes bg-scroll {
    0%: {
        background-position: 0 0;
    }

    100% {
        background-position: 0 112.5%
    }
}

.wrapper {
    width: 50%;
    margin: 50px auto;
    background-color: silver;
    text-align: center;
    vertical-align: middle;
    /* line-height: 100px; */
    border: solid 1px transparent;
}

.rainbow {
    /* display: block;
    margin: 50px auto; */
    color: white;
    font-family: inherit;
    /* text-shadow: 0 0 3px black; */
    /* font-size: 36px; */
    padding: 10px 50px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(255, 98, 98, 0.911), rgb(250, 179, 49), rgb(253, 253, 61), rgb(57, 252, 57), rgb(103, 103, 253), rgb(157, 73, 218), rgb(229, 149, 229), rgba(255, 98, 98, 0.911));
    background-size: 100% 800%;
    background-repeat: repeat-y;
    -webkit-animation: bg-scroll 10s infinite linear;
    -o-animation: bg-scroll 10s infinite linear;
    animation: bg-scroll 10s infinite linear;
}

@media screen and (min-width: 1600px) {
    .cat-text {
        font-size: 63px !important;
        margin-top: 104px !important;
    }

    #ent-txt {
        margin-left: -70px;
    }

    #edu-txt {
        margin-left: -60px;
    }

    #uni-txt {
        margin-left: 122px;
        margin-right: -18px;
    }

    header.masthead {
        padding-bottom: 12%;
        padding-top: 10%;

    }

    #bucklist-header {
        font-size: 80px;
        width: 174% !important;
        margin-left: -74% !important;
    }
}

@media (max-width: 1500px) {
    .cat-text {
        font-size: 34px;
    }

    #left-bucket {
        margin-left: -58%;
    }

    #user-profile-list {
        margin-left: 87px;
    }

    #bucklist-header {
        margin-left: -112px;
    }

    #user-console {
        margin-left: 60%;
        margin-top: -4px;
    }

    #buddy-row-paint {
        max-width: 116%;
        height: auto;
        margin-top: 6%;
        margin-left: -8%;
    }
}

@media screen and (min-width:1330px) {
    header.masthead {
        text-align: center;
        color: #212529;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        position: relative;
        height: 331px;
        margin-top: -3%;
    }

    #bucklist-header {
        width: 95%;
        margin-left: 20px;
    }

    .cat-text {
        margin-top: 156px;
        font-size: 35px;
    }

    #user-console {
        margin-left: 54%;
        margin-top: -4px;
    }

    #buddy-row-paint {
        max-width: 111%;
        height: auto;
        margin-top: 6%;
        margin-left: -2%;
    }

    .buddy-av-img {
        height: 83px;
        width: 83px;
    }

    .circle {

        height: 92px;
        width: 92px;

    }

    #cir0 {
        margin-right: 5%;
        margin-left: -9px;
    }

    #cir1 {
        margin-left: 4%;
    }

    #cir2 {
        margin-right: 71px;
        margin-left: 90px;
    }

    #cir3 {
        margin-left: 34px;
    }

    #cir4 {
        margin-left: 83px;
    }

    #cir5 {
        margin-left: 85px;
    }
}

@media (max-width:1200px) {

    #bucklist-header {
        margin-left: -9px;
    }

    #avatar-icon-row {
        margin-left: 15px;
        width: 110%;
    }

    #cir1 {
        margin-left: 2%;
    }

    #cir2 {

        margin-left: 79px;
        margin-right: 20px;
    }

    #cir3 {
        margin-left: 73px;

    }

    #cir4 {
        margin-left: 74px;
    }

    #cir5 {
        margin-left: 67px;
    }

    #user-console {
        margin-top: -13px;
        margin-left: 52%;
    }

    .cat-text {
        font-size: 27px;
    }

    #buddy-row-paint {
        max-width: 112%;
        height: auto;
        margin-top: 5%;
        margin-left: -4%;
    }
}



@media (max-width: 995px) {

    header.masthead {
        text-align: center;
        color: #212529;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        position: relative;
        height: 208px;
        margin-top: 0%;
    }

    .cat-text {
        padding: 18px;
        margin-top: 86px;
    }

    #all-txt {
        /* font-size: 35px; */
        margin-left: -7px;
    }

    #rom-txt {

        padding-left: 16px;

    }

    #edu-txt {
        padding-left: 4px;
    }


    #left-bucket {
        position: relative;
        margin-left: -16%;
        margin-top: -7px;

    }

    #bucklist-header {
        padding: 3% 14% 0% 14%;
        width: max-content;
        display: inline-block;
        margin-left: -7%;
    }

    #user-bucketlist-section {
        margin-left: 258px;
        text-align: center;
        justify-content: center;
    }

    #user-console {
        margin-left: 24%;
        position: relative;
        margin-top: 105px;
        min-width: 515px;
    }

    #user-profile-list {
        position: relative;
        margin-top: -410px;
        margin-left: 18%;
    }

    #user-console-href {
        margin-top: 540px;
    }

    #buddy-row-paint {
        /* height: 215px; */
        /* margin-left: -18%; */
        max-width: 100%;
        height: auto;


    }

    #cir0 {
        margin-right: 5%;
        margin-left: 3px;
    }

    #cir1 {
        margin-left: 4%;
    }

    #cir2 {
        margin-right: 32px;
        margin-left: 63px;
    }

    #cir3 {
        margin-left: 51px;
    }

    #cir4 {
        margin-left: 49px;
    }

    #cir5 {
        margin-left: 61px;
    }


}


@media screen and (min-width:1200px) {
    #left-bucket {
        /* position: relative; */
        margin-left: -48%;
        margin-top: 8px;
    }

    #user-profile-list {
        margin-left: 140px;
    }
}

@media (max-width: 991px) {
    header.masthead {
        text-align: center;
        color: #212529;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        position: relative;
        height: 209px;
        margin-top: -3%;
    }

    #rom-txt {
        margin-left: 2px;
        margin-right: 2px;
        padding-left: 16px;
    }

    #ent-txt {
        margin-left: 0px;

    }

    #edu-txt {
        margin-left: -35px;
        padding-left: 4px;

    }

    #adv-txt {
        /* margin-left: 5px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 175%; */
    }

    #tra-txt {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        /* font-size: 175%; */
    }

    #uni-txt {
        margin-left: 45px;
    }

    #all-txt {
        margin-left: -20px;


    }

    .cat-text {
        margin-top: 90px;
        padding: 18px;
        font-size: 24px;
    }



    #left-bucket {
        position: relative;
        margin-left: -57%;
        margin-top: -7px;


    }

    #bucklist-header {
        padding: 3% 14% 0% 14%;
        width: max-content;
        display: inline-block;
        margin-left: -46%;
    }

    #user-bucketlist-section {
        margin-left: 258px;
        text-align: center;
        justify-content: center;
    }

    #user-console {
        margin-left: 16%;
        position: relative;
        margin-top: 105px;
        min-width: 515px;
    }

    #user-profile-list {
        position: relative;
        margin-top: -410px;
        margin-left: -12%;
    }

    #user-console-href {
        margin-top: 540px;
    }

    #buddy-row-paint {
        /* height: 215px; */
        /* margin-left: -18%; */
        max-width: 102%;
        height: auto;


    }

    #cir0 {
        margin-right: 5%;
        margin-left: -18px;
    }

    #cir1 {
        margin-left: 1%;
    }

    #cir2 {
        margin-right: 0px;
        margin-left: 21px;
    }

    #cir3 {
        margin-left: 39px;
    }

    #cir4 {
        margin-left: 22px;
    }

    #cir5 {
        margin-left: 19px;
    }



}

@media (max-width: 830px) {
    .cat-text {
        font-size: 22px;
        margin-top: 86px;
    }

    #edu-txt {
        margin-left: -32px;
    }
}

@media (max-width: 768px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    #bucklist-header {
        margin-left: -35%;
        display: block;
        margin-top: 15%;

    }

    #left-bucket {
        max-width: 460px;
        display: block;
        margin-left: -43%;
        margin-top: 1%;

    }

    #user-profile-list {
        width: 250px;
        height: 250px;
        font-size: 14px;
        margin-top: -349px;
        margin-left: -9%;
    }

    #user-console {
        display: block;
        margin-left: 15%;
        margin-top: 4%;
    }

    #buddy-row-paint {
        margin-left: -4%;
        max-width: 108%;
        height: auto;
    }

    #avatar-icon-row {
        margin-left: 16px;
        margin-top: -113px;
        width: 126%;
    }

    #cir1 {
        margin-left: 5px;
    }

    #cir2 {
        margin-left: 30px;
    }

    #cir3 {
        margin-left: 49px;
    }

    #cir4 {
        margin-left: 30px;
    }

    #cir5 {
        margin-left: 24px;
    }
}