/* colorization for key words*/
#red {
    color: red;
}

#orange {
    color: orange;
}

#yellow {
    color: rgb(171, 173, 28);
}

#green {
    color: #89CC3A;
}

#blue {
    color: blue;
}

#purple {
    color: purple;
}

/* ----------------MAIN GENERAL STYLING------------ */
body {
    background-image: url(../images/backgroundImageSmaller.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
    color: black;
    font-weight: 800;
    font-size: 180%;
    font-family: 'dancing script';
}

a:hover {
    color: #fec503;
}



h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* --------------------- HEADER ------------------------*/

header {
    background-image: url(../images/rowofpaintSmaller.jpeg);
    background-repeat: no-repeat;
    margin-top: 0%;
    padding-top: 3%;
    border: solid;
    width: 100%;
}

header.masthead {
    text-align: center;
    color: #212529;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 210px;
    margin-top: 0%;
}

/* ----------------------NAV BAR ----------------------*/

#mainNav {
    background-color: #212529;
    padding: 0%;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #212529;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
    color: white;
    /* font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
    font-family: 'Finger Paint', cursive;
    background-color: #212529;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #fec503;
    background-color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
}

li#search-li {
    margin-top: 8px;
}
.form-inline {
    margin-bottom: 2%;
}

#piechart {
    padding-top: 4%;
    background-color: white;

}
#myChart {
    background-color: #fff;
}

@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}

::-moz-selection {
    background: #fed136;
    text-shadow: none;
}

::selection {
    background: #fed136;
    text-shadow: none;
}



.btn {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
}

.btn-xl {
    font-size: 18px;

}

.btn-primary {
    background-color: #fed136;
    border-color: #fed136;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: white;
}

.btn-primary:active,
.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

@media (min-width: 992px) {
    #mainNav {
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: #212529;
    }

    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }

    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #212529;
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;

    }
}

.catagory-text {
    position: absolute;
}

.col-md-2 {
    padding: 0px;
}

#rom-txt {
    margin-left: 0px;
    margin-right: 8px;
    font-size: 175%;
    padding-left: 0px;
    padding-right: 0px;
}

#ent-txt {
    margin-left: -20px;
    margin-right: 33px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 175%;
}

#edu-txt {
    margin-left: -38px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 175%;
}

#adv-txt {
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 175%;
}

#tra-txt {
    margin-left: 6px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 175%;
}

#uni-txt {
    margin-left: 62px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 175%;
}

#all-txt {
    margin-left: 10px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 175%;
}

.cat-text {
    margin-top: 84px;
    font-weight: 900;
    padding: 13px;
}
/* 
@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
} */

#left-bucket {
    max-width: 100%;
    position: relative;
    height: auto;
    /* margin-left: -8%;
    margin-top: -8%; */
}

.list-group-item {
    background-color: none;
}

/* user left profile list */
#user-profile-list {
    position: fixed;
    /* margin-left: 90px;
    margin-top: 18%; */
    padding: 0%;
    overflow: scroll;
    width: 280px;
    height: 280px;
    padding-left: 10px;
    border: solid;
    border-width: 10px;
    padding-left: 13px;
    padding-right: 10px;
    text-align: left; 
}

#bltxtid {
    font-family: 'dancing script';
    font-size: 144%;
    opacity: 1.0;
}

/* User Console */
#user-console {
    background-image: url(../images/consoleBackgroundSmaller.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border: solid;
    margin-top: 2%;
    background-color: white;
    overflow: auto;
    height: 550px;
    width: auto;
}

#console-header {
    padding-top: 3%;
    padding-bottom: 0.5%;
    background-color: white;
}

#bucklist-header {
    margin-top: 10%;
    text-align: justify;
    text-align: center;
    padding-right: 49px;
    margin-bottom: -6%;
    font-size: 45px;
}

h2 {
    font-family: 'Finger Paint', cursive;
}

/* row of buddies */
#buddy-row-paint {
    height: 270px;
    overflow-y: auto;
    position: relative;
    margin-left: 0px;
}

/* Avatars bottom row */
.circle {
    line-height: 0;
    display: inline-block;
    margin: 8px;
    border: 4px solid rgba(200, 200, 200, 0.4);
    border-radius: 55%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    transition: linear 0.25s;
    line-height: 0;
    /* remove line-height */
    display: inline-block;
    /* circle wraps image */
    border: 4px solid rgba(200, 200, 200, 0.4);
    border-radius: 55%;
    /* relative value */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    transition: linear 0.25s;
    height: 71px;
    width: 50px;
    padding-right: 63px;
    /* position: absolute; */
}

#cir0 {
    margin-right: 8%;
    margin-left: 3px;
}

#cir1 {
    margin-left: 5%;
}

#cir2 {
    margin-right: 32px;
    margin-left: 100px;
}

#cir3 {
    margin-left: 90px;
}

#cir4 {
    margin-left: 100px;
}

#cir5 {
    margin-left: 100px;
}

.col {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.circle img {
    border-radius: 50%;
    /* relative value for
				   adjustable image size */
}

.circle:hover {
    transition: ease-out 0.2s;
    border: 4px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: ease-out 0.2s;
}

a.circle,
p.circle-text {
    color: transparent;
    display: inline;
    float: left;
    margin-right: 17px;
}

#avatar-icon-row {
    display: inline;
    float: left;
    margin-top: -15%;
    margin-right: 51px;
    margin-left: 56px;
    width: 100%;
}

/* scroll bar */
.scrollbar::-webkit-scrollbar {
    background-color: #fff;
    width: 14px
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
    background-color: orangered;
}

.scrollbar::-webkit-scrollbar-track:hover {
    background-color: orangered;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
    background-color: orangered;
    border-radius: 16px;
    border: 3px solid #fff;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: orangered;
    border: 3px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
    /* display: none */
}

/* div box */

.scrollbar {
    height: 75vh;
    width: 25vw;
    min-width: 150px;
    background: #fff;
    overflow-y: scroll
}

.overflow {
    min-height: 100vh
}

/* rainbow effect */

@keyframes bg-scroll {
    0%: {
        background-position: 0 0;
    }

    100% {
        background-position: 0 112.5%
    }
}

.wrapper {
    width: 50%;
    margin: 50px auto;
    background-color: silver;
    text-align: center;
    vertical-align: middle;
    /* line-height: 100px; */
    border: solid 1px transparent;
}

.rainbow {

    /* display: block;
    margin: 50px auto; */
    color: white;
    font-family: inherit;
    /* text-shadow: 0 0 3px black; */
    /* font-size: 36px; */
    padding: 10px 50px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(255, 98, 98, 0.911), rgb(250, 179, 49), rgb(253, 253, 61), rgb(57, 252, 57), rgb(103, 103, 253), rgb(157, 73, 218), rgb(229, 149, 229), rgba(255, 98, 98, 0.911));
    background-size: 100% 800%;
    background-repeat: repeat-y;
    -webkit-animation: bg-scroll 10s infinite linear;
    -o-animation: bg-scroll 10s infinite linear;
    animation: bg-scroll 10s infinite linear;
}